*{

    padding: 0;
    margin: 0;

}



body {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(235, 235, 235);
    color: #7d7d7d;

}

.bloc1{

    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: auto;
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #7d7d7d4b;
    transition: 0.5s;
    

}

.tbl{


    border-radius: 50%;
    border: #7d7d7d2a solid 5px;
    padding: 15px;
    text-align: center;
    width: 120px;
    height: 120px;


}

.head h1{

    font-weight: bold;
    color: rgba(221, 85, 85);
    text-align: center;
    

}

.head h2{

    text-align: center;
}

.head p{

    
    margin: auto;
    padding: 10px;
    text-align: center;
    
}

.link a{

    text-decoration: none;
    color: white;
    
}

.link{

    padding: 12px 10px 14px 12px;
    background-color: #dd5555;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    transition: all 0.3s ease-in;
    vertical-align: middle;
    margin: 10px 150px 20px;
}

.reseaux{

    background-color: white;
    width: 500px;
    height: 140px;
    display: flex;
    margin: auto;
    margin-top: auto;
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #7d7d7d4b;
    transition: 0.5s;

}

.reseaux ul{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 25px;
    

}

.reseaux li{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    margin: 0;
    padding: 0;
    color: #7d7d7d8f;
    

}

.fa {

    font: normal normal normal normal 14px/1;
    text-rendering: auto;
    text-align: center;

}

.fa-facebook{

    font-size: 26px !important;
    color: #7d7d7d4b !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    transition: 0.5s !important;
    

}

.fa-linkedin{

    font-size: 26px !important;
    color: #7d7d7d4b !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    transition: 0.5s !important;


}

.fa-twitter{

    font-size: 26px !important;
    color: #7d7d7d4b !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    transition: 0.5s !important;


}

.logo-facebook{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.logo-linked{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.logo-twitter{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.reseaux a{

    text-decoration: none;
    color: #7d7d7d;

}

.films{

    background-color: white;
    width: 500px;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #7d7d7d4b;
    margin-bottom: 20px;
    transition: 0.5s;
    padding: 20px;

}

.films h2{

    text-align: center;
    font-size: 22px;
    height: 30px;

}

.first-movie{

    height: 210px;
    align-items: center;


}

.first-movie p{

    text-align: justify;
    margin: 0 20px 0 30px;
    line-height: 170%;
}

.films img{

    width: 90px;
    height: 135px;
    float: left;

}

.second-movie p{

    text-align: justify;
    margin: 0 20px 0 20px;
    line-height: 170%;

}

.films h3{

    font-weight: 400;
    text-align: center;

}

.second-movie{

    height: 210px;
    align-items: center;

}

.movie-first{

    display: flex;
}

.movie-second{

    display: flex;

}

.movie-third{

    display: flex;

}

.third-movie p{

    text-align: justify;
    margin: 0 20px 0 20px;
    line-height: 170%;

}

.films h2{

    margin-bottom: 50px;

}






